
* {
  box-sizing: border-box;
}

body {
       
background: #e0ffff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #bae9f7;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.select-style {
  border: 1px solid #ccc;
  width: 100px;
  border-radius: 3px;
  overflow: hidden;
  font-size: 20px;
  background: #fafafa  no-repeat 90% 50%;
  text-align: center;
  margin-left: 30px;

}

.customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

.customers td, .customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

.customers tr:nth-child(even){background-color: #f2f2f2;}

.customers tr:hover {background-color: #ddd;}

.customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #6495ed;
  color: white;
}

button {
  background-color: #4682b4;
  width: 140px;
  height: 35px;
  font-size: 16px;
  color: white;
}

input{
  width: 170px;
  height: 30px;
  font-size: 16px;
  margin-right: 10px;
}
label{
  margin-left: 40px;
  margin-right: 10px;
}

.multi-choice {
  margin-left: 20px;
  margin-bottom: 30px;
}

select {
  height: 50px;
  width: 180px;
  padding-left: 45px;
  /*border: 4px solid #ffdab9;*/
  font-size: 24px;
  background-color: #ffefd5;
  border-radius: 5%;
}

.transactions-container {
  display: flex;
  flex-direction:column;
  margin-left: 100px;
}

.month-transaction {
  display: flex;
}
